src/main/resources/xsd/OrganizationStructureService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" xmlns="http://www.tallink.com/hris/"
           targetNamespace="http://www.tallink.com/hris/">
    <xs:include schemaLocation="BaseTypes.xsd"/>

    <xs:element name="CreateCompanyRequest">
        <xs:annotation>
            <xs:documentation>Request for creating company
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="Company" type="Company"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateCompanyResponse">
        <xs:annotation>
            <xs:documentation>Response for creating company
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="Company" type="Company"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateCompanyRequest">
        <xs:annotation>
            <xs:documentation>Request for updating company
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="Company" type="Company"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateCompanyResponse">
        <xs:annotation>
            <xs:documentation>Response for updating company
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="Company" type="Company"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetCompaniesRequest">
        <xs:annotation>
            <xs:documentation>Request for getting companies
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="Company" type="Company"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCompaniesResponse">
        <xs:annotation>
            <xs:documentation>Response for getting companies
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="Companies" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Company" type="Company"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetOperatingUnitRequest">
        <xs:annotation>
            <xs:documentation>Request for getting Operating Units list</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="OperatingUnit" type="OperatingUnit"/>
                        <xs:element name="Department" type="xs:boolean" default="false"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetOperatingUnitResponse">
        <xs:annotation>
            <xs:documentation>Response for getting Operating Units list</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="OperatingUnitList" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="OperatingUnit" type="OperatingUnit"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTeamsRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="IdentityId" type="xs:integer"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTeamsResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TeamsList" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Team" type="Team" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTeamMembersRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="TeamId" type="xs:string"/>
                        <xs:element name="CountryCodeList" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CountryCode" type="CountryCodeEnum"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTeamMembersResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TeamMembersList" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="TeamMember" type="TeamMember" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetPositionsRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="LoadIdentities" type="xs:boolean" default="false"/>
                        <xs:element name="LoadIdentityPictures" type="xs:boolean" default="false"/>
                        <xs:element name="PositionId" type="xs:string" minOccurs="0"/>
                        <xs:element name="OperatingUnitNumber" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetPositionsResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="PositionsList" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Position" type="Position" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="UpdateOperatingUnitStructureElasticIndicesRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateOperatingUnitStructureElasticIndicesResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetOperatingUnitStructureRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetOperatingUnitStructureResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="OperatingUnitStructureEntityList" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="OperatingUnitStructureEntity" type="OperatingUnitStructureEntity" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>