src/main/resources/xsd/TrainingService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" xmlns="http://www.tallink.com/hris/"
           targetNamespace="http://www.tallink.com/hris/">
    <xs:include schemaLocation="BaseTypes.xsd"/>
    <xs:element name="GetTrainersRequest">
        <xs:annotation>
            <xs:documentation>Request for getting trainers
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="Trainer" type="Trainer"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTrainersResponse">
        <xs:annotation>
            <xs:documentation>Response for getting trainers
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="Trainers" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Trainer" type="Trainer"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTrainerWithIdentityIdsRequest">
        <xs:annotation>
            <xs:documentation>Request for getting trainers with identity ids
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="Trainer" type="TrainerWithIdentityId"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTrainerWithIdentityIdsResponse">
        <xs:annotation>
            <xs:documentation>Response for getting trainers
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="Trainers" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Trainer" type="TrainerWithIdentityId"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateTrainerRequest">
        <xs:annotation>
            <xs:documentation>Request for creating new trainer
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="Trainer" type="Trainer"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateTrainerResponse">
        <xs:annotation>
            <xs:documentation>Response for creating new trainer
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="Trainer" type="Trainer"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateTrainerRequest">
        <xs:annotation>
            <xs:documentation>Request for updating existing trainer
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="Trainer" type="Trainer"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateTrainerResponse">
        <xs:annotation>
            <xs:documentation>Response for updating existing trainer
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="Trainer" type="Trainer"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateTrainerCompanyRequest">
        <xs:annotation>
            <xs:documentation>Request for creating new external trainer company
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="TrainerCompany" type="TrainerCompany"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateTrainerCompanyResponse">
        <xs:annotation>
            <xs:documentation>Response for creating new external trainer company
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TrainerCompany" type="TrainerCompany"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateTrainerCompanyRequest">
        <xs:annotation>
            <xs:documentation>Request for updating new external trainer company
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="TrainerCompany" type="TrainerCompany"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateTrainerCompanyResponse">
        <xs:annotation>
            <xs:documentation>Response for updating new external trainer company
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TrainerCompany" type="TrainerCompany"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTrainerCompaniesRequest">
        <xs:annotation>
            <xs:documentation>Request for getting trainer companies
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="TrainerCompany" type="TrainerCompany"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTrainerCompaniesResponse">
        <xs:annotation>
            <xs:documentation>Response for getting trainer companies
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TrainerCompanies" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="TrainerCompany" type="TrainerCompany"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateTrainerContactRequest">
        <xs:annotation>
            <xs:documentation>Request for creating new external trainer contact
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="TrainerContact" type="TrainerContact"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateTrainerContactResponse">
        <xs:annotation>
            <xs:documentation>Response for creating new external trainer contact
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TrainerContact" type="TrainerContact"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTrainerContactsRequest">
        <xs:annotation>
            <xs:documentation>Request for getting trainer contacts
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="TrainerContact" type="TrainerContact"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTrainerContactsResponse">
        <xs:annotation>
            <xs:documentation>Response for getting trainer contacts
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TrainerContacts" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="TrainerContact" type="TrainerContact"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateTrainerContactRequest">
        <xs:annotation>
            <xs:documentation>Request for updating new external trainer contact
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="TrainerContact" type="TrainerContact"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateTrainerContactResponse">
        <xs:annotation>
            <xs:documentation>Response for updating new external trainer contact
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TrainerContact" type="TrainerContact"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetOfficeCodesRequest">
        <xs:annotation>
            <xs:documentation>Request for getting all office codes
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetOfficeCodesResponse">
        <xs:annotation>
            <xs:documentation>Response for getting all office codes
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="OfficeCodes" minOccurs="0" >
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="OfficeCode" type="OfficeCode" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetParticipantStatusesRequest">
        <xs:annotation>
            <xs:documentation>Request for getting all participant statuses
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetParticipantStatusesResponse">
        <xs:annotation>
            <xs:documentation>Response for getting all participant statuses
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="ParticipantStatuses" minOccurs="0" >
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ParticipantStatus" type="ParticipantStatus" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCourseStatusesRequest">
        <xs:annotation>
            <xs:documentation>Request for getting all course statuses
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCourseStatusesResponse">
        <xs:annotation>
            <xs:documentation>Response for getting all course statuses
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="CourseStatuses" minOccurs="0" >
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CourseStatus" type="CourseStatus" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateCertificateRequest">
        <xs:annotation>
            <xs:documentation>Request for creating a new certificate
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="Certificate" type="Certificate"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateCertificateResponse">
        <xs:annotation>
            <xs:documentation>Response for creating a new certificate
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="Certificate" type="Certificate"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateCertificateRequest">
        <xs:annotation>
            <xs:documentation>Request for updating existing certificate
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="Certificate" type="Certificate" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateCertificateResponse">
        <xs:annotation>
            <xs:documentation>Response for updating existing certificate
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="Certificate" type="Certificate" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCertificatesRequest">
        <xs:annotation>
            <xs:documentation>Request for getting certificates
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="Certificate" type="Certificate"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCertificatesResponse">
        <xs:annotation>
            <xs:documentation>Response for getting certificates
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="Certificates">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Certificate" type="Certificate" minOccurs="0"
                                                maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateTrainingCourseRequest">
        <xs:annotation>
            <xs:documentation>Request for creating training course
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="TrainingCourse" type="TrainingCourse" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateTrainingCourseResponse">
        <xs:annotation>
            <xs:documentation>Response for creating training course
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TrainingCourse" type="TrainingCourse" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateTrainingCourseRequest">
        <xs:annotation>
            <xs:documentation>Request for updating existing training course
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="TrainingCourse" type="TrainingCourse" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateTrainingCourseResponse">
        <xs:annotation>
            <xs:documentation>Response for updating existing training course
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TrainingCourse" type="TrainingCourse" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTrainingCoursesRequest">
        <xs:annotation>
            <xs:documentation>Request for getting training courses
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="TrainingCourse" type="TrainingCourse" minOccurs="0"/>
                        <xs:element name="From" type="xs:integer" minOccurs="0"/>
                        <xs:element name="Total" type="xs:integer" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTrainingCoursesResponse">
        <xs:annotation>
            <xs:documentation>Response for getting training courses
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
            <xs:extension base="HRISBaseResponse">
                <xs:sequence>
                    <xs:element name="TrainingCourses" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="TrainingCourse" type="TrainingCourse"
                                            minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="CoursesTotal" type="xs:integer"/>
                </xs:sequence>
            </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateTrainingLearndashCourseRequest">
        <xs:annotation>
            <xs:documentation>Request for creating Learndash course
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="TrainingLearndashCourse" type="TrainingLearndashCourse" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateTrainingLearndashCourseResponse">
        <xs:annotation>
            <xs:documentation>Response for creating Learndash course
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TrainingLearndashCourse" type="TrainingLearndashCourse" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateTrainingLearndashCourseRequest">
        <xs:annotation>
            <xs:documentation>Request for updating existing Learndash course
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="TrainingLearndashCourse" type="TrainingLearndashCourse" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateTrainingLearndashCourseResponse">
        <xs:annotation>
            <xs:documentation>Response for updating existing Learndash course
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TrainingLearndashCourse" type="TrainingLearndashCourse" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTrainingLearndashCoursesRequest">
        <xs:annotation>
            <xs:documentation>Request for getting Learndash courses
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="TrainingLearndashCourse" type="TrainingLearndashCourse" minOccurs="0"/>
                        <xs:element name="ReturnInactive" type="xs:boolean" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTrainingLearndashCoursesResponse">
        <xs:annotation>
            <xs:documentation>Response for getting Learndash courses
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TrainingCourses" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="TrainingLearndashCourse" type="TrainingLearndashCourse"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateLearndashCoursesRequest">
        <xs:annotation>
            <xs:documentation>Request for syncing Learndash courses list with hris
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateLearndashCoursesResponse">
        <xs:annotation>
            <xs:documentation>Response for syncing Learndash courses list with hris
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="AddedCourseIds" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="DeactivatedCourseIds" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateLearndashParticipationInHrisRequest">
        <xs:annotation>
            <xs:documentation>Request for getting course progress from Learndash and updating participation data in HRIS
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateLearndashParticipationInHrisResponse">
        <xs:annotation>
            <xs:documentation>Response for getting course progress from Learndash and updating participation data in HRIS
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="IdsOfParticipantsSetToParticipated">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ParticipantId" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="IdsOfParticipantsSetToPassed">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ParticipantId" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="UpdateParticipantLearndashAccessRequest">
        <xs:annotation>
            <xs:documentation>Request for updating participant's access to e-course
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateParticipantLearndashAccessResponse">
        <xs:annotation>
            <xs:documentation>Response for updating participant's access to e-course
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="IdsOfParticipantsRemovedFromLearndash">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ParticipantId" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateParticipantRequest">
        <xs:annotation>
            <xs:documentation>Request for creating participant
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="Participant" type="Participant" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateParticipantResponse">
        <xs:annotation>
            <xs:documentation>Response for creating participant
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="Participant" type="Participant" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateSelfRegisteredParticipantRequest">
        <xs:annotation>
            <xs:documentation>Request for creating participant who self-registered
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="Participant" type="Participant" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateSelfRegisteredParticipantResponse">
        <xs:annotation>
            <xs:documentation>Response for creating participant who self-registered
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="Participant" type="Participant" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="UpdateParticipantRequest">
        <xs:annotation>
            <xs:documentation>Request for updating existing participant
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="Participant" type="Participant" minOccurs="0"/>
                        <xs:element name="UpdatedBy" type="xs:integer" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateParticipantResponse">
        <xs:annotation>
            <xs:documentation>Response for updating existing participant
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="Participant" type="Participant" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetParticipantsRequest">
        <xs:annotation>
            <xs:documentation>Request for getting participants
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="Participant" type="Participant" minOccurs="0"/>
                        <xs:element name="ReturnCancelled" type="xs:boolean" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetParticipantsResponse">
        <xs:annotation>
            <xs:documentation>Response for getting participants
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="Participants" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Participant" type="Participant" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DeactivateParticipantRequest">
        <xs:annotation>
            <xs:documentation>Request for deactivating participant
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="ParticipantId" type="xs:integer"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DeactivateParticipantResponse">
        <xs:annotation>
            <xs:documentation>Response for deactivating participant
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="Participant" type="Participant" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SendEmailToParticipantsRequest">
        <xs:annotation>
            <xs:documentation>Request for sending email to participants of a course
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="MailSubject" type="xs:string"/>
                        <xs:element name="MailText" type="xs:string"/>
                        <xs:element name="SenderAddress" type="xs:string"/>
                        <xs:element name="CourseId" type="xs:integer" minOccurs="0"/>
                        <xs:element minOccurs="0" name="TrainerIds">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" name="TrainerId" type="xs:integer"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="ParticipantIds">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" name="ParticipantId" type="xs:integer"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="Attachments">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" name="Attachment" type="xs:base64Binary"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="AttachmentNames">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" name="AttachmentName" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="AdditionalEmails" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Email" type="EmailAddress" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SendEmailToParticipantsResponse">
        <xs:annotation>
            <xs:documentation>Response for sending email to participants of a course
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="IdentitiesWithoutEmails" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Identity" type="Identity" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>

            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateEmployeeCertificateRequest">
        <xs:annotation>
            <xs:documentation>Request for creating employee certificate
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="EmployeeCertificate" type="EmployeeCertificate" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateEmployeeCertificateResponse">
        <xs:annotation>
            <xs:documentation>Response for creating employee certificate
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="EmployeeCertificate" type="EmployeeCertificate" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateEmployeeCertificateRequest">
        <xs:annotation>
            <xs:documentation>Request for updating existing employee certificate
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="EmployeeCertificate" type="EmployeeCertificate" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateEmployeeCertificateResponse">
        <xs:annotation>
            <xs:documentation>Response for updating existing employee certificate
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="EmployeeCertificate" type="EmployeeCertificate" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetEmployeeCertificatesRequest">
        <xs:annotation>
            <xs:documentation>Request for getting employee certificates
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="EmployeeCertificate" type="EmployeeCertificate" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetEmployeeCertificatesResponse">
        <xs:annotation>
            <xs:documentation>Response for getting employee certificates
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="EmployeeCertificates" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="EmployeeCertificate" type="EmployeeCertificate" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateCostItemRequest">
        <xs:annotation>
            <xs:documentation>Request for creating cost item
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="CostItem" type="CostItem" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateCostItemResponse">
        <xs:annotation>
            <xs:documentation>Response for creating cost item
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="CostItem" type="CostItem" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateCostItemRequest">
        <xs:annotation>
            <xs:documentation>Request for updating existing cost item
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="CostItem" type="CostItem" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateCostItemResponse">
        <xs:annotation>
            <xs:documentation>Response for updating existing cost item
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="CostItem" type="CostItem" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCostItemsRequest">
        <xs:annotation>
            <xs:documentation>Request for getting cost items
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="CostItem" type="CostItem" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCostItemsResponse">
        <xs:annotation>
            <xs:documentation>Response for getting cost items
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="CostItems" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CostItem" type="CostItem" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCostTypesRequest">
        <xs:annotation>
            <xs:documentation>Request for getting cost types
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="CostType" type="CostType" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCostTypesResponse">
        <xs:annotation>
            <xs:documentation>Response for getting cost types
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="CostTypes" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CostType" type="CostType" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DeactivateCostItemRequest">
        <xs:annotation>
            <xs:documentation>Request for deactivating cost item
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="CostItemId" type="xs:integer"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DeactivateCostItemResponse">
        <xs:annotation>
            <xs:documentation>Response for deactivating cost item
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="CostItem" type="CostItem" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTrainingModulesRequest">
        <xs:annotation>
            <xs:documentation>Request for getting training modules
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="TrainingModule" type="TrainingModule" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTrainingModulesResponse">
        <xs:annotation>
            <xs:documentation>Response for getting training modules
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TrainingModules" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="TrainingModule" type="TrainingModule"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateTrainingModuleRequest">
        <xs:annotation>
            <xs:documentation>Request for creating training module
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="TrainingModule" type="TrainingModule" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateTrainingModuleResponse">
        <xs:annotation>
            <xs:documentation>Response for creating training module
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TrainingModule" type="TrainingModule" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateTrainingModuleRequest">
        <xs:annotation>
            <xs:documentation>Request for updating existing training module
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="TrainingModule" type="TrainingModule" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateTrainingModuleResponse">
        <xs:annotation>
            <xs:documentation>Response for updating existing training module
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TrainingModule" type="TrainingModule" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetFocusAreasRequest">
        <xs:annotation>
            <xs:documentation>Request for getting focus areas
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetFocusAreasResponse">
        <xs:annotation>
            <xs:documentation>Response for getting focus areas
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="FocusAreas" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="FocusArea" type="FocusArea" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetModuleContentsRequest">
        <xs:annotation>
            <xs:documentation>Request for getting module contents
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="ModuleContent" type="ModuleContent" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetModuleContentsResponse">
        <xs:annotation>
            <xs:documentation>Response for getting module contents
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="ModuleContents" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ModuleContent" type="ModuleContent"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateModuleContentRequest">
        <xs:annotation>
            <xs:documentation>Request for creating module content
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="ModuleContent" type="ModuleContent" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateModuleContentResponse">
        <xs:annotation>
            <xs:documentation>Response for creating module content
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="ModuleContent" type="ModuleContent" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateModuleContentRequest">
        <xs:annotation>
            <xs:documentation>Request for updating existing module content
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="ModuleContent" type="ModuleContent" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateModuleContentResponse">
        <xs:annotation>
            <xs:documentation>Response for updating existing module content
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="ModuleContent" type="ModuleContent" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetTrainingCourseSessionsRequest">
        <xs:annotation>
            <xs:documentation>Request for getting training course sessions
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="TrainingCourseSession" type="TrainingCourseSession" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTrainingCourseSessionsResponse">
        <xs:annotation>
            <xs:documentation>Response for getting training course sessions
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TrainingCourseSessions" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="TrainingCourseSession" type="TrainingCourseSession"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateTrainingCourseSessionRequest">
        <xs:annotation>
            <xs:documentation>Request for creating training course session
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="TrainingCourseSession" type="TrainingCourseSession" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateTrainingCourseSessionResponse">
        <xs:annotation>
            <xs:documentation>Response for creating training course session
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TrainingCourseSession" type="TrainingCourseSession" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateTrainingCourseSessionRequest">
        <xs:annotation>
            <xs:documentation>Request for updating existing training course session
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="TrainingCourseSession" type="TrainingCourseSession" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateTrainingCourseSessionResponse">
        <xs:annotation>
            <xs:documentation>Response for updating existing training course session
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TrainingCourseSession" type="TrainingCourseSession" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateTrainingCourseOrganizerRequest">
        <xs:annotation>
            <xs:documentation>Request for creating training course organizer
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateTrainingCourseOrganizerResponse">
        <xs:annotation>
            <xs:documentation>Response for creating training course organizer
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TrainingCourseOrganizer" type="TrainingCourseOrganizer"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateTrainingCourseOrganizerRequest">
        <xs:annotation>
            <xs:documentation>Request for updating training course organizer
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="TrainingCourseOrganizer" type="TrainingCourseOrganizer"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateTrainingCourseOrganizerResponse">
        <xs:annotation>
            <xs:documentation>Response for updating training course organizer
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TrainingCourseOrganizer" type="TrainingCourseOrganizer"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTrainingCourseOrganizersRequest">
        <xs:annotation>
            <xs:documentation>Request for getting all course organizers
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTrainingCourseOrganizersResponse">
        <xs:annotation>
            <xs:documentation>Response for getting all course organizers
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="TrainingCourseOrganizers" minOccurs="0" >
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="TrainingCourseOrganizer" type="TrainingCourseOrganizer" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SearchTrainingCoursesRequest">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="From" type="xs:integer" minOccurs="1"/>
                        <xs:element name="Total" type="xs:integer" minOccurs="1"/>
                        <xs:element name="Id" type="xs:integer" minOccurs="0"/>
                        <xs:element name="Module" type="xs:string" minOccurs="0"/>
                        <xs:element name="FocusAreaId" type="xs:integer" minOccurs="0"/>
                        <xs:element name="Trainer" type="xs:string" minOccurs="0"/>
                        <xs:element name="CourseOwner" type="xs:string" minOccurs="0"/>
                        <xs:element name="OfficeCodeId" type="xs:integer" minOccurs="0"/>
                        <xs:element name="Statuses" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="StatusId" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Location" type="xs:string" minOccurs="0"/>
                        <xs:element name="OrderBy" type="xs:string" minOccurs="0"/>
                        <xs:element name="Order" type="xs:string" minOccurs="0"/>
                        <xs:element name="Search" type="xs:string" minOccurs="0"/>
                        <xs:element name="CourseDateRange" type="DateRange" minOccurs="0"/>
                        <xs:element name="EndDateAfter" type="xs:date" minOccurs="0"/>
                        <xs:element name="SelfRegistrationAllowed" type="xs:boolean" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SearchTrainingCoursesResponse">
        <xs:annotation>
            <xs:documentation>Response for getting fileted training courses
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="CoursesTotal" type="xs:integer"/>
                        <xs:element name="TrainingCourses" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="TrainingCourse" type="TrainingCourse"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="SearchTrainingCourseOverviewsRequest">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="From" type="xs:integer" minOccurs="1"/>
                        <xs:element name="Total" type="xs:integer" minOccurs="1"/>
                        <xs:element name="Id" type="xs:integer" minOccurs="0"/>
                        <xs:element name="Module" type="xs:string" minOccurs="0"/>
                        <xs:element name="FocusAreaId" type="xs:integer" minOccurs="0"/>
                        <xs:element name="Trainer" type="xs:string" minOccurs="0"/>
                        <xs:element name="CourseOwner" type="xs:string" minOccurs="0"/>
                        <xs:element name="OfficeCodeId" type="xs:integer" minOccurs="0"/>
                        <xs:element name="Statuses" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="StatusId" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Location" type="xs:string" minOccurs="0"/>
                        <xs:element name="OrderBy" type="xs:string" minOccurs="0"/>
                        <xs:element name="Order" type="xs:string" minOccurs="0"/>
                        <xs:element name="Search" type="xs:string" minOccurs="0"/>
                        <xs:element name="CourseDateRange" type="DateRange" minOccurs="0"/>
                        <xs:element name="EndDateAfter" type="xs:date" minOccurs="0"/>
                        <xs:element name="SelfRegistrationAllowed" type="xs:boolean" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SearchTrainingCourseOverviewsResponse">
        <xs:annotation>
            <xs:documentation>Response for getting fileted training courses
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="CoursesTotal" type="xs:integer"/>
                        <xs:element name="TrainingCourses" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="TrainingCourse" type="TrainingCourseOverview"
                                                minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetParticipantsForApprovalRequest">
        <xs:annotation>
            <xs:documentation>Request for getting participants for approval
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseRequest">
                    <xs:sequence>
                        <xs:element name="ManagerIdentityId" type="xs:integer" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetParticipantsForApprovalResponse">
        <xs:annotation>
            <xs:documentation>Response for getting participants for approval
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="HRISBaseResponse">
                    <xs:sequence>
                        <xs:element name="Participants" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Participant" type="Participant" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
